.profile__profile-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 19px;
  row-gap: 6px;
  margin-left: 30px;
}

@media screen and (max-width:920px) {
  .profile__profile-info {
    margin: 30px 0 34px;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 10px;
  }
}
