.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
  gap: 9px;
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s, opacity .5s ease-out;
}

@media screen and (max-width:768px) {
  .popup {
    gap: 16px;
  }
}
