.profile__job {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width:920px) {
  .profile__job {
    text-align: center;
    grid-column: 2;
  }
}

@media screen and (max-width:425px) {
  .profile__job {
    max-width: 280px;
    font-size: 14px;
  }
}
